<div style="display: flex; background: linear-gradient(rgba(155, 155, 155, 0.7), rgba(155, 155, 155, 0.7)), url('../../assets/metro.jpg'); background-size: cover; height: 50vh;">

    <div style="display: flex; flex-direction: column;">
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('1',result)" [ngStyle]="{'opacity' : allLignes.includes('1') ? '1' : '0.5'}" [src]="allLignes.includes('1') ? '../../assets/1.png' : '../../assets/metro.png'" [matTooltip]="station"/>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('2',result)" [ngStyle]="{'opacity' : allLignes.includes('2') ? '1' : '0.5'}" [src]="allLignes.includes('2') ? '../../assets/2.png' : '../../assets/metro.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('3',result)" [ngStyle]="{'opacity' : allLignes.includes('3') ? '1' : '0.5'}" [src]="allLignes.includes('3') ? '../../assets/3.png' : '../../assets/metro.png'" [matTooltip]="station"/>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('3bis',result)" [ngStyle]="{'opacity' : allLignes.includes('3bis') ? '1' : '0.5'}" [src]="allLignes.includes('3bis') ? '../../assets/3bis.png' : '../../assets/metro.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('4',result)" [ngStyle]="{'opacity' : allLignes.includes('4') ? '1' : '0.5'}" [src]="allLignes.includes('4') ? '../../assets/4.png' : '../../assets/metro.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('5',result)" [ngStyle]="{'opacity' : allLignes.includes('5') ? '1' : '0.5'}" [src]="allLignes.includes('5') ? '../../assets/5.png' : '../../assets/metro.png'" [matTooltip]="station"/>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('6',result)" [ngStyle]="{'opacity' : allLignes.includes('6') ? '1' : '0.5'}" [src]="allLignes.includes('6') ? '../../assets/6.png' : '../../assets/metro.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('7',result)" [ngStyle]="{'opacity' : allLignes.includes('7') ? '1' : '0.5'}" [src]="allLignes.includes('7') ? '../../assets/7.png' : '../../assets/metro.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('7bis',result)" [ngStyle]="{'opacity' : allLignes.includes('7bis') ? '1' : '0.5'}" [src]="allLignes.includes('7bis') ? '../../assets/7bis.png' : '../../assets/metro.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('8',result)" [ngStyle]="{'opacity' : allLignes.includes('8') ? '1' : '0.5'}" [src]="allLignes.includes('8') ? '../../assets/8.png' : '../../assets/metro.png'" [matTooltip]="station"/>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('9',result)" [ngStyle]="{'opacity' : allLignes.includes('9') ? '1' : '0.5'}" [src]="allLignes.includes('9') ? '../../assets/9.png' : '../../assets/metro.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('10',result)" [ngStyle]="{'opacity' : allLignes.includes('10') ? '1' : '0.5'}" [src]="allLignes.includes('10') ? '../../assets/10.png' : '../../assets/metro.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('11',result)" [ngStyle]="{'opacity' : allLignes.includes('11') ? '1' : '0.5'}" [src]="allLignes.includes('11') ? '../../assets/11.png' : '../../assets/metro.png'" [matTooltip]="station"/>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('12',result)" [ngStyle]="{'opacity' : allLignes.includes('12') ? '1' : '0.5'}" [src]="allLignes.includes('12') ? '../../assets/12.png' : '../../assets/metro.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('13',result)" [ngStyle]="{'opacity' : allLignes.includes('13') ? '1' : '0.5'}" [src]="allLignes.includes('13') ? '../../assets/13.png' : '../../assets/metro.png'" [matTooltip]="station"/>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('14',result)" [ngStyle]="{'opacity' : allLignes.includes('14') ? '1' : '0.5'}" [src]="allLignes.includes('14') ? '../../assets/14.png' : '../../assets/metro.png'" [matTooltip]="station"/>
        </div>
    </div>


    <div style="display: flex; flex-direction: column; justify-content: center;">
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('A',result)" [ngStyle]="{'opacity' : allLignes.includes('A') ? '1' : '0.5'}" [src]="allLignes.includes('A') ? '../../assets/A.png' : '../../assets/rer.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('B',result)" [ngStyle]="{'opacity' : allLignes.includes('B') ? '1' : '0.5'}" [src]="allLignes.includes('B') ? '../../assets/B.png' : '../../assets/rer.png'" [matTooltip]="station"/>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('C',result)" [ngStyle]="{'opacity' : allLignes.includes('C') ? '1' : '0.5'}" [src]="allLignes.includes('C') ? '../../assets/C.png' : '../../assets/rer.png'" [matTooltip]="station"/>
        </div>
        <div style="display: flex; justify-content: center; width: 100%;">
            <img class="transport" (mouseenter)="changeToolTip('D',result)" [ngStyle]="{'opacity' : allLignes.includes('D') ? '1' : '0.5'}" [src]="allLignes.includes('D') ? '../../assets/D.png' : '../../assets/rer.png'" [matTooltip]="station"/>
            <img class="transport" (mouseenter)="changeToolTip('E',result)" [ngStyle]="{'opacity' : allLignes.includes('E') ? '1' : '0.5'}" [src]="allLignes.includes('E') ? '../../assets/E.png' : '../../assets/rer.png'" [matTooltip]="station"/>
        </div>
    </div>


</div>
