<div class="background">
    <div class="login">
        <div id="logoIcon">
            <mat-icon>perm_identity</mat-icon>
        </div>
        
        <form [formGroup]="formGroup" class="form" (ngSubmit)="connect()">
            <div style="display:flex; flex-direction: column; justify-content: center; height: 70%;">
                <mat-form-field style="padding-top: 15%">
                    <input matInput placeholder="Login" formControlName="login" required autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Mot de passe" formControlName="password" type="password" required>
                </mat-form-field>
            </div>
    
            <div style="display: flex; height: 30%; width: 100%; align-items: center; justify-content: space-around;">
                <button mat-button class="create" routerLink="/register">Créer un compte</button>    
                <button mat-button type="submit" class="connect">Se connecter</button>
            </div>
        </form>    
    </div>
</div>


