body{
    overflow-x: hidden;
}

@keyframes bigMove {
    0%,100%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(2vh,2vh);
    }
}

@keyframes bigMoveReverse {
    0%,100%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(2vh,-2vh);
    }
}

.img,.good{
    img{
        animation: bigMove 10s linear infinite;
    }
}

.img,.good,.bad{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
    overflow: hidden;
    img{
        width: 45%;
    }
    .desc{
        display: flex; align-items: center; justify-content: center; width: 45%; font-size: 22px;text-align: justify;
        height: 100%;
        overflow: hidden;
    }
}

.inf{
    display: flex; flex-direction: column; align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../../assets/info_details.jpg");
    background-size: cover;
    position: relative;

    #station{
        display: flex;
        align-items: center;
        position: absolute;
        top: 10vh;
        animation: bigMoveReverse 10s linear infinite;
        animation-delay: 1.8s;
        p{
            color: white;
            font-size: 3vh;
        }
    }

    circle-note{
        margin-right: 50%;
        animation: bigMoveReverse 10s linear infinite;
        animation-delay: 3.5s;
        width: 30vh; height: 30vh;
    }

    show-horaires{
        margin-left: 40%;
        font-size: 3vh;
        height: 35%;
        width: 30%;
        padding: 5vh;
        border: 2px solid white;
        animation: bigMove 10s linear infinite;
        animation-delay: 2.5s;
    }
}

.bad{
    img{
        animation: bigMoveReverse 10s linear infinite;
        animation-delay: 2s;
        margin-left: 20%;
        animation-delay: 4s;
    
    }
    padding-left: 15%;
}

.good{
    animation-delay: 1.5s;
    padding-right: 15%;
}

.good,.bad{
    width: 80%;
    img{
        width: 30%;
    }
    #desc{
        display: flex; justify-content: center;
    }
    mat-nav-list{
        width: 45%;
    }
    .mat-list-item{
        color: black !important;
        font-size: 22px !important;
    }
}

.lineShowed{
    animation: bigMove 10s linear infinite;
    display: flex; width: 100vw; justify-content: center; align-items: center;
    cursor: pointer;
    transform: scale(1);
    transition: all 200ms;
    color: white;
    padding-right: 50vw;
    &:hover{
        transform: scale(1.05);
    }
    p{
        font-size: 4vh;
        width: fit-content;
        color: white;
    }
    mat-icon{
        font-size: 4vh;
        height: 28px;
    }
}

.title{
    display: flex; font-size: 7vh; justify-content: center; align-items: center; height: 11vh; cursor: pointer;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 10%;
}

p{
    word-break:normal;
}

button{
    padding: 0;
}

.mat-list-base .mat-list-item .mat-line{
    white-space: normal;
}

#imgDesc{
    display: flex; align-items:center; justify-content:center; width: 40%;
}

.similar{
    display: flex; width: 100%; align-items: center; justify-content: center; height: 75%; background-size: cover;
    .subtitle{
        display: flex; height: 100%; justify-content: center; align-items: center; font-size: 4vh; width: 50vw; color: white;
    }
}

.placesRoll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110%;
    .results{
        height: 65vh;
    }
    circle-note{
        height: 60px;
        width: 60px;
    }
}

.split{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    align-items: center;

    .similar{
        width: 33%;
    }
    .placesRoll{
        width: 57%;
    }
}

#metro{
    .similar{
        animation: bigMoveReverse 10s linear infinite;
        animation-delay: 1.33s;    
    }
}

#similar{
    .similar{
        animation: bigMove 10s linear infinite;
    }
}

.scrollButton{
    display: flex; align-items: center; width: 10vw; height: 100%; color: black;
    button{
        cursor: pointer; height: 50%; width: 100%;
    }
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
@media screen and (max-width: 600px){
    .top{
        height: 80vh;
    }
    .img{
        flex-direction: column;
        height: fit-content;
        img,.desc{
            width: 92%;
        }
        .desc{
            font-size: 16px;
            padding-top: 10vh;
            padding-bottom: 10vh;
        }
    }
    .inf{
        circle-note{
            width: 15vh;
            height: 15vh;
        }
        show-horaires{
            margin-left: 0;
            font-size: 2vh;
            padding: 3vh;
            width: 80%;
        }
        .lineShowed{
            padding-right: 0;
            p{
                font-size: 16px;
            }
        }
    }
    .good,.bad{
        width: 100%;
        padding: 0;
        .mat-list-item{
            font-size: 2vh !important;
        }
        img{
            margin: 0;
        }
    }
    .placesRoll{
        height: 70%;
        circle-note{
            height: 30px;
            width: 30px;
        }
    }
    #metro{
        flex-direction: column;
    }
    #similar{
        flex-direction: column-reverse;
    }
    .split{
        .similar{
            width: 100%;
            animation: none !important;
        }
        .placesRoll{
            width: 100%;
        }
    }
    #station{
        p{
            font-size: 2vh !important;
        }
        .mat-card-avatar{
            height: 15px !important;
            width: 15px !important;
        }
    }
    .results{
        width: 80%;
        overflow: auto;
    }
    .similar{
        justify-content: space-around;
    }
    .title{
        font-size: 4vh;
        padding-bottom: 0;
    }
    .similar{
        height: 40%;
    }
    #lineShowed{
        width: 40vw;
    }
    #infosP{
        width: 35vw;
        font-size: 14px;
    }
    #desc{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #border{
        width: 90%;
        border-left: 0;
        border-top: 2px solid #bcbcbc;
        padding-top: 1vh;
    }
    #imgDesc{
        padding-bottom: 1vh;
    }
    .desc{
        font-size: 15px;
    }
    show-lignes{
        display: none;
    }
    .compare{
        display: none;
    }
    .subtitle{
        width: 60vw;
        font-size: 3vh;
        text-align: center;
    }
    .card{
        height: 70%;
    }
    .mat-card-header{
        justify-content: space-between;
    }
    #ligH{
        width: 40vw;
    }
    #ligneHoraires{
        display: block;
    }
    .mat-card-title{
        font-size: 1.75vh;
    }
    .phone{
        display: none;
    }
    .phoneLignes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .comparePhone{
        display: flex; width: 100%; height: 50vh; align-items: center; background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/comparison.jpg');
        color: white;
    }
    .scrollButton{
        display: none;
    }
}